<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <log4net>
    <root>
      <!--设置记录的优先级-->
      <priority value="ERROR"/>
      <!--控制级别，由低到高: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF  ALL表示允许所有的日志请求。OFF是拒绝所有的请求。-->
      <!--比如定义级别为INFO，则INFO级别向下的级别，比如DEBUG日志将不会被记录-->
      <level value="ALL"/>
      <!--根据log级别记录到不同的日志文件-->
      <appender-ref ref="DebugAppender"/>
      <appender-ref ref="ErrorAppender"/>
      <!--暂时去掉info的记录-->
      <!--<appender-ref ref="InfoAppender"/>-->
    </root>
    <!--Error级别-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!--指定Error日志文件保存的目录-->
      <file value="logs/error/"/>
      <!--追加日志内容-->
      <appendToFile value="true"/>
      <!--可以为：Once|Size|Date|Composite-->
      <!--Compoosite为Size和Date的组合-->
      <rollingStyle value="Composite"/>
      <!--设置为true，当前最新日志文件名永远为file字节中的名字-->
      <staticLogFileName value="false"/>
      <!--此处按日期产生文件夹，文件名固定。注意&quot; 的位置-->
      <datePattern value="yyyy-MM-dd/yyyyMMdd&quot;.log&quot;"/>
      <!--日志最大个数-->
      <!--rollingStyle节点为Size时，只能有value个日志-->
      <!--rollingStyle节点为Composie时，每天有value个日志-->
      <maxSizeRollBackups value="20"/>
      <!--可用的单位：KB|MB|GB-->
      <maximumFileSize value="5MB"/>
      <!--多线程时采用最小锁定-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--日志层级-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <!--[出错行号]：%L；警告：会影响性能。-->
        <!--[出错文件]：%F；警告：只在调试的时候有效。调用本地信息会影响性能。-->
        <!--[出错的类]：%type；警告：会影响性能。-->
        <conversionPattern value="
        %n ＝＝＝＝＝＝＝＝＝＝
        %n[日志级别]：[%-5level]
        %n[记录时间]：[%date{yyyy-MM-dd HH:mm:ss}]
        %n[线程编号]：[%thread]
        %n[执行时间]：[%r]毫秒
        %n[引发的类]：[%type]
        %n[对象名称]：[%logger]
        %n[特殊属性]：[%property{NDC}]
        %n[错误描述]：%message
        %n ＝＝＝＝＝＝＝＝＝"/>
      </layout>
    </appender>
    <!--Debug级别-->
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
      <!--指定Error日志文件保存的目录-->
      <file value="logs/debug/"/>
      <!--追加日志内容-->
      <appendToFile value="true"/>
      <!--可以为：Once|Size|Date|Composite-->
      <!--Compoosite为Size和Date的组合-->
      <rollingStyle value="Composite"/>
      <!--设置为true，当前最新日志文件名永远为file字节中的名字-->
      <staticLogFileName value="false"/>
      <!--当备份文件时，备份文件的名称及后缀名-->
      <datePattern value="yyyy-MM-dd/yyyyMMdd&quot;.log&quot;"/>
      <!--日志最大个数-->
      <!--rollingStyle节点为Size时，只能有value个日志-->
      <!--rollingStyle节点为Composie时，每天有value个日志-->
      <maxSizeRollBackups value="20"/>
      <!--可用的单位：KB|MB|GB-->
      <maximumFileSize value="5MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="DEBUG"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <!--[出错行号]：%L；警告：会影响性能。-->
        <!--[出错文件]：%F；警告：只在调试的时候有效。调用本地信息会影响性能。-->
        <!--[出错的类]：%type；警告：会影响性能。-->
        <conversionPattern value="
        %n ＝＝＝＝＝＝＝＝＝＝
        %n[日志级别]：[%-5level]
        %n[记录时间]：[%date{yyyy-MM-dd HH:mm:ss}]
        %n[线程编号]：[%thread]
        %n[执行时间]：[%r]毫秒
        %n[引发的类]：[%type]
        %n[对象名称]：[%logger]
        %n[特殊属性]：[%property{NDC}]
        %n[调试信息]：%message
        %n ＝＝＝＝＝＝＝＝＝"/>
      </layout>
    </appender>
    <!--Info级别-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <!--指定Error日志文件保存的目录-->
      <file value="logs/info/"/>
      <!--追加日志内容-->
      <appendToFile value="true"/>
      <!--可以为：Once|Size|Date|Composite-->
      <!--Compoosite为Size和Date的组合-->
      <rollingStyle value="Composite"/>
      <!--设置为true，当前最新日志文件名永远为file字节中的名字-->
      <staticLogFileName value="false"/>
      <!--当备份文件时，备份文件的名称及后缀名-->
      <datePattern value="yyyy-MM-dd/yyyyMMdd&quot;.log&quot;"/>
      <!--日志最大个数-->
      <!--rollingStyle节点为Size时，只能有value个日志-->
      <!--rollingStyle节点为Composie时，每天有value个日志-->
      <maxSizeRollBackups value="20"/>
      <!--可用的单位：KB|MB|GB-->
      <maximumFileSize value="5MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <!--[出错行号]：%L；警告：会影响性能。-->
        <!--[出错文件]：%F；警告：只在调试的时候有效。调用本地信息会影响性能。-->
        <!--[出错的类]：%type；警告：会影响性能。-->
        <conversionPattern value="
        %n ＝＝＝＝＝＝＝＝＝＝
        %n[日志级别]：[%-5level]
        %n[记录时间]：[%date{yyyy-MM-dd HH:mm:ss}]
        %n[线程编号]：[%thread]
        %n[执行时间]：[%r]毫秒
        %n[引发的类]：[%type]
        %n[对象名称]：[%logger]
        %n[特殊属性]：[%property{NDC}]
        %n[日志消息]：%message
        %n ＝＝＝＝＝＝＝＝＝"/>
      </layout>
    </appender>
  </log4net>
</configuration>